.menu {
  background-color: transparent;
  min-height: 100vh;
  min-width: 16vw;
  max-width: 300px;
  padding: 1rem;
  color: #604fb2;
  font-size: 20px;
  // text-shadow: 0px 0px 4px #545454;
  .fa-solid {
    color: #604fb2;
    padding: 1px;
    font-size: 15px;
    margin-right: 8px;
  }
  .template-bin {
    margin-left: 10px;
  }
}

.content {
  background: white;
  padding: 40px;
  min-height: 100vh;
  width: 740px;
  color: white;
  border-radius: 6px;
  margin: 0 auto;
}

.spacing {
  min-width: 16vw;
}


.fa-folder-plus {
  color: white;
  padding: 2px;
  font-size: 15px;
}

.workspace-header {
  color: white;
}

a {
  font-size: 17px;
}

.form-select {
  color: black;
  opacity: 0.5;
}

// body {
//   height: 100%;
// }

.template-item {
  color: #604fb2;
  max-width: 210px;
}

ul {
  list-style-type: none;
}

.btn {
  background-color: transparent;
  border: none;
  color: #604fb2;
  text-align: left;
  font-size: 20px;
  padding-left: 0;
  width: 100%;
}

.btn:hover {
  color: white;
}

#category_title {
  border-radius: 10px;
  font-size: 14px;
}

.submit {
  border-radius: 10px;
  // background-color: transparent;
  color: white;
  border-color: white;
  width: 35%;
  font-size: 14px;
  border: none;
  background-color: $purple;
  border: 2px solid $purple;
  &:hover{
    border: 2px solid white;
  }
}

.create {
  border-radius: 10px;
  // background-color: transparent;
  color: white;
  background-color: $purple;
  border: 2px solid $purple;
  font-size: 15px;
  border-width: 1px;
  padding: 6px 13px;
}

.templates-list {
  margin-left: 16px;
}

.form-control.is-valid {
  border: 1px solid #ced4da !important;
  background-image: none !important;
}

.form-select.is-valid {
  border: 1px solid #ced4da !important;
  background-image: none !important;
}

.workspace-content {
  min-height: 70vh;
  backdrop-filter: blur(20px);
}

.category-btns {
  padding-left: 8px;
}

.category-title-text {
  margin-bottom: 16px;
}
