<div class="d-flex">
  <div class="menu">
    <div class="template-list">
      <%= render 'workspaces/template_menu', categories: @categories %>
    </div>
    <div class="new-category mt-4">
      <%= render 'categories/form', category: @category%>
    </div>
  </div>
  <div class="content">
    <%= turbo_frame_tag :workspace_content do %>
      <%= render 'templates/form', template: @template, category: nil %>
    <% end %>
  </div>
</div>
<br>
