<div class="footer-container">
  <div class="footer-text">
    <%# <p>This is where we say thanks to all of our sponsors</p> %>
    <p><strong>Templates Extension<i class="fa-solid fa-heart"></i></strong></p>
  </div>
</div>
