                                  <%# Banner %>
<div class="main-banner">
  <div class="main-text">
    <h1>Templates Extension</h1>
    <p>All your templates. Anywhere.</p>
    <%# <%= link_to 'Download extension', new_user_registration_path, class: 'sign-up' %>
    <a class = "sign-up" href="https://chrome.google.com/webstore/detail/templates-extension/nnhakomnddfejmblgloopplchcadglhi/related?hl=en&authuser=0">Download extension</a>
  </div>
                                  <%# Image carousel %>
  <div class="image-carousel">
  <%# LEFT ARROW %>
    <button class="carousel-button button-left is-hidden">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
      <div class="carousel-track-container">
        <ul class="carousel-track">
          <li class="carousel-slide current-slide">
            <%= image_tag "extension_popup.png", class: 'carousel-image', height: 200, width: 400 %>
          </li>
          <li class="carousel-slide">
            <%= image_tag "Workspace_updated.png", class: 'carousel-image', height: 180, width: 350 %>
          </li>
          <li class="carousel-slide">
            <%= image_tag "https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80", class: 'carousel-image', height: 200, width: 400 %>
          </li>
        </ul>
      </div>
      <%# RIGHT ARROW %>
    <button class="carousel-button button-right">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
    <%# NAV CIRCLES BELOW CAROUSEL %>
    <div class="carousel-nav">
      <button class="carousel-indicator current-slide"></button>
      <button class="carousel-indicator"></button>
      <button class="carousel-indicator"></button>
    </div>
  </div>
</div>
                                  <%# Center text %>
<%# <div class="secondary-content">
  <p>3 easy steps</p>
</div> %>
                                  <%# Card container %>
<div class="cards-container">
                                  <%# Card 1 %>
  <div class="info-card">
    <div class="card-wrapper">
      <div class="front">
        <div class="card-number">
          <i class="fa-solid fa-file-pen"></i>
        </div>
        <div class="card-text">
          <p><strong>Create your template!</strong></p>
        </div>
      </div>
      <%# <div class="back">
        <p>This is the back of my card</p>
      </div> %>
    </div>
  </div>
                                  <%# Card 2 %>
  <div class="info-card">
    <div class="card-wrapper">
      <div class="front">
        <div class="card-number">
          <i class="fa-solid fa-cloud-arrow-down"></i>
        </div>
        <div class="card-text">
          <p><strong>Download extension!</strong></p>
        </div>
      </div>
      <%# <div class="back">
        <p>This is the back of my card</p>
      </div> %>
    </div>
  </div>
                                  <%# Card 3 %>
  <div class="info-card">
    <div class="card-wrapper">
      <div class="front">
        <div class="card-number">
          <i class="fa-solid fa-file-import"></i>
        </div>
        <div class="card-text">
          <p><strong>Import your template!</strong></p>
        </div>
      </div>
      <%# <div class="back">
        <p>This is the back of my card</p>
      </div> %>
    </div>
  </div>
</div>
<%# <div class="secondary-content">
  <p><p>In these three simple steps you can store all the templates you can ever need, all in one place. And access them all from anywhere!</p></p>
</div> %>
<div class="font-white">

  <div class="light-background">
    <div class="content-container-left">
      <div class="content-card">
        <h1>FULLY INTEGRATED ACROSS THE WEB</h1>
        <P>Templates Extension is available across all internet sites. Your library is accessible anywhere so you are free to roam, import and go!
        </P>
        <p><strong>Log in</strong> to get started now</p>

      </div>
    </div>

  </div>
  <div class="purple-background">
    <div class="content-container-right">
      <div class="content-card">
        <h1>OUR TEMPLATES OR YOURS?</h1>
        <p>Immediate access to our pre-built library of templates for easy editing and personalization. Suitable for a range of occasions and ready to use!</p>
        <p>Enter your <strong>workspace</strong> to begin</p>

      </div>
    </div>

  </div>
  <div class="light-background">
    <div class="content-container-left">
      <div class="content-card">
        <h1>EASY UPLOAD AND EDITING</h1>
      <p>Just copy and paste all your own templates into the workspace and format as desired. Our simple editing tools allow you to get maximum results wherever you choose to post!</p>
      <p><strong>Get started</strong> right here</p>

      </div>
    </div>

  </div>

  <div class="purple-background">
    <div class="content-container-right">
      <div class="content-card">
        <h1>CREATE SOMETHING NEW</h1>
        <P> Designed for you. Templates Extension offers simple tools for flexible use at home, work or school. Ultimate efficiency, anywhere.</P>
        <p> Just hit <strong>Ctrl + Shift + Y</strong></p>

      </div>
    </div>

  </div>
  <div class="light-background">
    <div class="content-container-left">
      <div class="content-card">
        <h1>ALL YOUR TEMPLATES AT A CLICK</h1>
        <P>Categorize, organize and save your templates for easy access and availability any time you browse. Maximum productivity with maximum control.</P>

        <p>Go to <strong>workspace</strong> and get started</p>


      </div>
    </div>

  </div>
</div>
