<div class="main-banner">
  <div>
    <h1>Welcome to Templates Extension</h1>
    <p>All your templates, Anywhere</p>
  </div>
</div>
<div class="secondary-content">
  <%# <p>In these three simple steps you can store all the templates you can ever need, all in one place. And access them all from anywhere!</p> %>
  <p>3 easy steps</p>
</div>
<div class="cards-container">
  <div class="info-card">
    <div class="card-img">
      <img src="https://images.unsplash.com/photo-1626544827763-d516dce335e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80" alt="">
    </div>
    <div class="card-text">
      <p><strong>Create your template!</strong></p>
    </div>
  </div>
    <div class="info-card">
    <div class="card-img">
      <img src="https://images.unsplash.com/photo-1626544827763-d516dce335e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80" alt="">
    </div>
    <div class="card-text">
      <p><strong>Download extension!</strong></p>
    </div>
  </div>
    <div class="info-card">
      <img src="https://images.unsplash.com/photo-1626544827763-d516dce335e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80" alt="">
      <div class="card-text">
        <p><strong>Import your template!</strong></p>
      </div>
  </div>
</div>
