                                  <%# Banner %>
<div class="main-banner">
  <div class="main-text">
    <h1>Templates Extension</h1>
    <p>All your templates. Anywhere.</p>
    <%= link_to 'Sign up', new_user_registration_path, class: 'sign-up' %>
  </div>
                                  <%# Image carousel %>
  <div class="image-carousel">
  <%# LEFT ARROW %>
    <button class="carousel-button button-left is-hidden">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
      <div class="carousel-track-container">
        <ul class="carousel-track">
          <li class="carousel-slide current-slide">
            <%= image_tag "purple-background.jpg", class: 'carousel-image', height: 200, width: 400 %>
          </li>
          <li class="carousel-slide">
            <%= image_tag "purple-background.jpg", class: 'carousel-image', height: 200, width: 400 %>
          </li>
          <li class="carousel-slide">
            <%= image_tag "purple-background.jpg", class: 'carousel-image', height: 200, width: 400 %>
          </li>
        </ul>
      </div>
      <%# RIGHT ARROW %>
    <button class="carousel-button button-right">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
    <%# NAV CIRCLES BELOW CAROUSEL %>
    <div class="carousel-nav">
      <button class="carousel-indicator current-slide"></button>
      <button class="carousel-indicator"></button>
      <button class="carousel-indicator"></button>
    </div>
  </div>
</div>
                                  <%# Center text %>
<%# <div class="secondary-content">
  <p>3 easy steps</p>
</div> %>
                                  <%# Card container %>
<div class="cards-container">
                                  <%# Card 1 %>
  <div class="info-card">
    <div class="card-wrapper">
      <div class="front">
        <div class="card-number">
          <i class="fa-solid fa-file-pen"></i>
        </div>
        <div class="card-text">
          <p><strong>Create your template!</strong></p>
        </div>
      </div>
      <%# <div class="back">
        <p>This is the back of my card</p>
      </div> %>
    </div>
  </div>
                                  <%# Card 2 %>
  <div class="info-card">
    <div class="card-wrapper">
      <div class="front">
        <div class="card-number">
          <i class="fa-solid fa-cloud-arrow-down"></i>
        </div>
        <div class="card-text">
          <p><strong>Download extension!</strong></p>
        </div>
      </div>
      <%# <div class="back">
        <p>This is the back of my card</p>
      </div> %>
    </div>
  </div>
                                  <%# Card 3 %>
  <div class="info-card">
    <div class="card-wrapper">
      <div class="front">
        <div class="card-number">
          <i class="fa-solid fa-file-import"></i>
        </div>
        <div class="card-text">
          <p><strong>Import your template!</strong></p>
        </div>
      </div>
      <%# <div class="back">
        <p>This is the back of my card</p>
      </div> %>
    </div>
  </div>
</div>
<%# <div class="secondary-content">
  <p><p>In these three simple steps you can store all the templates you can ever need, all in one place. And access them all from anywhere!</p></p>
</div> %>
