.footer-container {
  background-color: $purple;
  // background-image: image-url('abstr_bubble.jpg');

  // MAKES BACKGROUND A DARKER TINT
  // background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  background-size: cover;
  height: 65px;
  // STICKY POS TO BOTTOM
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  p {
    margin: 0px;
  }
}

.fa-heart {
  color: rgb(255, 255, 255);
}
