.navbar-lewagon {
  justify-content: space-between;
  background-color: $purple;
  opacity: 0.97;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.fa-message {
  color: white;
  font-size: 29px;
  margin-left: 10px;
}
